<div class="w-full">
  
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="max-w-7xl w-full mx-auto px-10 font-bold mb-2">
      <%= link_to "Products", products_path, class: "text-xl font-bold text-black hover:underline hover:text-blue-500 bg-blue-50 rounded-lg py-3 px-5" %>
      <%= link_to "> #{ @product.category.name}", @product.category, class: "text-xl font-bold text-black" if @product.category %>
      <%= link_to "> #{ @product.name}", @product, class: "text-xl font-bold text-black" %> 
    </div>
<br>
  <div class="grid grid-cols-2">
   <div class="max-w-md w-full mx-auto">
     <% if @product.images.any? %>
     <%= image_tag @product.images.first, class: "w-full h-96 object-cover"%>
     <div class="grid grid-cols-3 gap-4 mt-4">
       <% @product.images[1..-1].each do |image| %>
         <%= image_tag image, class: "w-full h-32 object-cover" %>
       <% end %>
     </div>
     <% end %>
   </div>
   <div class="max-w-xl">
     <h1 class="text-5xl font-sweety text-blue-800 "><%= @product.name %></h1>
     <div class="max-w-sm text-black/75 font-bold">
      <%= @product.description %>
      <br>
     </div>
     <span class="bg-green-500 rounded-lg text-black py-2 px-3"><%= number_to_currency @product.price %></span>
   </div>
  </div>

   <% if current_admin %>
   <div class="w-full flex justify-center items-center mt-16 gap-4">
    <%= link_to "Edit this product", edit_product_path(@product), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to products", products_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <div class="inline-block ml-2">
    <%= button_to "Destroy this product", @product, method: :delete, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <% end %>
  </div>
</div>
